<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>will_filter examples</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="margin:0px;">
	<%= render(:partial => '/common/menu')%>
	<div style="width:900px;text-align:left; margin: auto;">
		<%= yield %>
	</div>
</body>
</html>
