<style>
	.paginator {
    width:100%;
		margin-bottom: 10px;
	}
	.results {
		width:100%;
	}
	th {
		text-align: left;
		font-family: Arial;
		font-size: 12px;
		border-bottom: 1px solid #ccc;
	}
	td {
    font-family: Arial;
    font-size: 12px;
		padding:5px;
	}
</style>

<div style="padding:10px;">

<%= will_filter(@filters) %>

<br>
<table class='paginator'>
    <tr>
        <td align='left'>
            <%= will_paginate(@filters) %>
        </td>
        <td align='right'>
            <%= page_entries_info(@filters) %>
        </td>
    </tr>
</table>

<table class='results'>
    <tbody>
        <tr>
            <th>
                Id
            </th>
            <th>
                Type
            </th>
            <th>
                Name
            </th>
            <th>
                Model Class
            </th>
            <th>
                User Id
            </th>
            <th>
                Data
            </th>
            <th>
                Created At
            </th>
        </tr>
        <% @filters.each_with_index do |f, index| %>
        <tr class='<%=(index % 2 == 0) ? "row_even" : "row_odd"%>'>
            <td>
                <%= f.id %>
            </td>
            <td>
                <%= f.class.name %>
            </td>
            <td>
                <%= f.name %>
            </td>
            <td style="width:100px;">
                <%= f.model_class_name %>
            </td>
            <td style="width:50px;">
                <%= f.user_id %>
            </td>
            <td style="font-size:10px;">
                <% f.data.each do |key, value| %>
								  <strong><%=key%>:</strong> <%= value %>;
								<% end %>
            </td>
            <td>
                <%= f.created_at.strftime("%m/%d/%Y") %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

</div>